html {
  background-color: #6dde7e;
}

.circle {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  background: #C2E8F5;
  color: #000;
  text-align: center;
  padding-left: 20px;
  font: normal 400 900px 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  margin-top: -300px;
  font: normal 400 125px 'Italiana', serif;
  letter-spacing: 5px;
}

p {
  text-align: right;
  font: normal 400 25px 'Roboto', sans-serif;
  margin-top: 200px;
  margin-right: 50px;
  margin-bottom: 10px;
}

figcaption {
  text-align: right;
  margin-right: 50px;
  font: italic 15px 'Roboto', sans-serif;
}
