* {
  background-color: #C2E8F5;
}

h1 {
  font: normal 400 50px 'Italiana', sans-serif;
  color: #000;
  justify-content: center;
  text-align: center;
  margin: 10%;
  margin-top: 50px;
  margin-bottom: 10px;
  letter-spacing: 5px;
}

h2 {
  font: normal 400 20px 'Roboto', sans-serif;
  color: #000;
  text-align: center;
  margin-top: 5px;
  letter-spacing: 5px;
  margin-bottom: 50px;
}

footer {
  font: normal 400 15px 'Roboto', sans-serif;
  text-align: right;
  margin: 8px;
}

section {
  display: flex;
  justify-content: center;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: #6dde7e;
  border-radius: 50%;
  font: normal 400 25px 'Italiana', sans-serif;
  text-align: center;
  color: #000;
  font-weight: 500;
  margin-left: 5px;
}

.circle-1 {
  background-color: #6dde7e;
}

.circle-2 {
  background-color: #C2C1F5;
}

.circle-3 {
  background-color: #F0D569;
}

.circle-4 {
  background-color: #DFBFA5;
}

.circle-5 {
  background-color: #F7ACFB;
}

.circle-6 {
  background-color: #DFBFA5;
}

.circle-7 {
  background-color: #F0D569;
}

.circle-8 {
  background-color: #F7ACFB;
}

.circle-9 {
  background-color: #C2C1F5;
}

.circle-10 {
  background-color: #6dde7e;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  justify-content: space-around;
  width: 500px;
  margin-top: 20px;
}

.reverse {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap-reverse;
  justify-content: space-around;
  width: 500px;
}
