* {
  background-color: #C2E8F5;
}

h1 {
  font: normal 400 50px 'Italiana', sans-serif;
  color: #000;
  text-align: center;
  margin: 20%;
  margin-bottom: 10px;
  letter-spacing: 5px;
}

h2 {
  font: normal 400 20px 'Roboto', sans-serif;
  color: #000;
  text-align: center;
  margin-top: 20px;
  letter-spacing: 5px;
}

.circle {
  background: #DEB183;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font: normal 400 25px 'Italiana', sans-serif;
  text-align: center;
  color: #000;
  margin-left: 5px;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
.div-1 {
  background-color: #6dde7e;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font: normal 400 25px 'Italiana', sans-serif;
  text-align: center;
  color: #000;
  margin-left: 5px;
}

.div-2 {
  background-color: #fad528;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font: normal 400 25px 'Italiana', sans-serif;
  text-align: center;
  color: #000;
  margin-left: 5px;
}
