* {
  background-color: #C2E8F5;
}

h1 {
  font: normal 400 50px 'Italiana', sans-serif;
  color: #000;
  text-align: center;
  margin: 20%;
  margin-bottom: 10px;
  letter-spacing: 5px;
}

h2 {
  font: normal 400 20px 'Roboto', sans-serif;
  color: #000;
  text-align: center;
  margin-top: 20px;
  letter-spacing: 5px;
}

.circle {
  background: #DEB183;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
